@import './base/base.less';

body {
    .flexcolumn();
    width: 99%;
    background-color: @bg;
    // background-image: url(${backgroundImage});
    // background: linear-gradient(49deg, @bg 20%, @altbg 50%, @bg 80%);
    // color: @yellow;

    #root {
        .flexcolumn();
        width: 85%;

        header {
            .flexcolumn();
            width: 95%;
            padding-bottom: 1em;
            .boxShadow();
    
            nav {
                .flexrow();
                justify-content: space-evenly;
                width: 100%;

                a {
                    color: @green;
                    padding: .5em;
                    .altBoxShadow();
                }
            }
        }
        main {
            .flexcolumn();
            width: 95%;
            .boxShadow();

            .challCard {
                .flexcolumn();
                width: 100%;

                .challs {
                    .flexcolumn();
                    width: 95%;
                    .indigoInset();
                    margin: .5em;
                    padding: .5em;

                    .cards {
                        .flexrow();
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: space-evenly;

                        .card_box {
                            .indigoShadow();
                        }
                        
                    }
                }
                
            }
    
            .projects {
                .flexrow();
                flex-wrap: wrap;

                .proj_date_box {
                    width: 250px;
                    margin: .5em;
                    padding: 1.5em;
                    .insetShadow();
                }
                
    
                .proj_box {
                    .flexcolumn();
                    align-items: flex-start;
                    min-width: 200px;
                    min-height: 200px;
                    max-width: 400px;
                    max-height: 400px;
                    margin: .5em;
                    padding: 1.5em;
                    .insetShadow();

                    a {
                        color: @green;
                    }

                    .updated_blue_red {
                        color: @blue;
                        .redBlinking();
                        .boxShadow();
                    }
                }
            }
    
            #bg_changer {
                width: 400px;
                height: 400px;
            }
    
        }
        footer {
            .flexcolumn();
            width: 95%;
            .boxShadow();        
        }
    }
}


@import './miscCSSFiles/spinner.css';

@import './miscCSSFiles/gitCss.css';

@import './miscCSSFiles/pagination.less';

@import './base/media.less';