@import './base/base.less';

body {
    .flexcolumn();
    width: 99%;
    background-color: @bg;
    // background-image: url(${backgroundImage});
    background: linear-gradient(49deg, @bg 20%, @altbg 50%, @bg 80%);
    color: @yellow;

    #root {
        .flexcolumn();
        width: 85%;

        header {
            .flexcolumn();
            width: 95%;
    
            nav {
                .flexrow();
                justify-content: space-evenly;
                width: 100%;
            }
        }
        main {
            .flexcolumn();
            width: 95%;

            .challCard {
                .flexcolumn();
                width: 100%;

                .challs {
                    .flexcolumn();
                    width: 100%;

                    .cards {
                        .flexrow();
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: space-evenly;
                    }
                }
                
            }
    
            .projects {
                .flexrow();
                flex-wrap: wrap;
                
    
                .proj_box {
                    width: 200px;
                    height: 200px;
                    margin: .5em;
                }
            }
    
            #bg_changer {
                width: 400px;
                height: 400px;
            }
    
        }
        footer {
            .flexcolumn();
            width: 95%;        
        }
    }
}


@import './spinner.css';

@import './gitCss.css';

@import './base/media.less';