@import 'miscCSSFiles/spinner.css';
@import 'miscCSSFiles/gitCss.css';
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: #008000;
}
.boxShadow {
  box-shadow: 0 0.25em 0.75em #124c4c72;
  margin: 1em 0;
  padding: 1em;
}
.altBoxShadow {
  box-shadow: 0 0.25em 0.75em #00800071;
}
.insetShadow {
  box-shadow: 0 0 1em 0.06em #00800071 inset;
}
.indigoInset {
  box-shadow: 0 0 1em 0.06em #4c00827e inset;
}
.indigoShadow {
  box-shadow: 0 0.25em 0.75em #4c00827e;
  margin: 1em 0;
  padding: 1em;
}
.modal_button {
  box-shadow: 0 0.25em 0.75em #ff000075;
  margin: 1em 0;
  padding: 1em;
  background-color: #ffc0cb44;
}
.redBlinking {
  -webkit-animation: blink 800ms step-end infinite;
  animation: blink 800ms step-end infinite;
}
@-webkit-keyframes blink {
  50% {
    color: #ff0000;
  }
}
@keyframes blink {
  50% {
    color: #ff0000;
  }
}
.greenBlinking {
  -webkit-animation: blink 800ms step-end infinite;
  animation: blink 800ms step-end infinite;
}
@-webkit-keyframes blink {
  50% {
    color: #008000;
  }
}
@keyframes blink {
  50% {
    color: #008000;
  }
}
.updateBorder {
  box-shadow: 0 0.25em 0.75em #00800071;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  background-color: #cfcdcd;
}
body .modal_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .modal_form label {
  padding: 0.5em;
}
body #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
body #root header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding-bottom: 1em;
  box-shadow: 0 0.25em 0.75em #124c4c72;
  margin: 1em 0;
  padding: 1em;
}
body #root header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
body #root header nav a {
  color: #008000;
  padding: 0.5em;
  box-shadow: 0 0.25em 0.75em #00800071;
}
body #root main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  box-shadow: 0 0.25em 0.75em #124c4c72;
  margin: 1em 0;
  padding: 1em;
}
body #root main .challCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body #root main .challCard .challs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  box-shadow: 0 0 1em 0.06em #4c00827e inset;
  margin: 0.5em;
  padding: 0.5em;
}
body #root main .challCard .challs .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
body #root main .challCard .challs .cards .card_box {
  box-shadow: 0 0.25em 0.75em #4c00827e;
  margin: 1em 0;
  padding: 1em;
}
body #root main .projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body #root main .projects .proj_date_box {
  width: 250px;
  margin: 0.5em;
  padding: 1.5em;
  box-shadow: 0 0 1em 0.06em #00800071 inset;
}
body #root main .projects .proj_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  min-width: 200px;
  min-height: 200px;
  max-width: 400px;
  max-height: 400px;
  margin: 0.5em;
  padding: 1.5em;
  box-shadow: 0 0 1em 0.06em #00800071 inset;
}
body #root main .projects .proj_box a {
  color: #008000;
}
body #root main .projects .proj_box .updated_blue_red {
  color: #0000ff;
  -webkit-animation: blink 800ms step-end infinite;
  animation: blink 800ms step-end infinite;
  box-shadow: 0 0.25em 0.75em #124c4c72;
  margin: 1em 0;
  padding: 1em;
}
@-webkit-keyframes blink {
  50% {
    color: #ff0000;
  }
}
@keyframes blink {
  50% {
    color: #ff0000;
  }
}
body #root main #bg_changer {
  width: 400px;
  height: 400px;
}
body #root main .playerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
body #root main .playerRow .playerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body #root main .playerRow .playerButtons button {
  height: 120px;
  width: 120px;
  margin: 0.5em;
  background: #62beca;
  background-image: -webkit-linear-gradient(top, #62beca, #5299a1);
  background-image: -moz-linear-gradient(top, #62beca, #5299a1);
  background-image: -ms-linear-gradient(top, #62beca, #5299a1);
  background-image: -o-linear-gradient(top, #62beca, #5299a1);
  background-image: linear-gradient(to bottom, #62beca, #5299a1);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  -webkit-box-shadow: 2px 3px 21px #102224;
  -moz-box-shadow: 2px 3px 21px #102224;
  box-shadow: 2px 3px 21px #102224;
  /* padding: 10px 20px 10px 20px; */
  text-decoration: none;
}
body #root main .playerRow .playerButtons button img {
  width: 95px;
  max-height: 75px;
}
body #root main .displayChoice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
body #root footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  box-shadow: 0 0.25em 0.75em #124c4c72;
  margin: 1em 0;
  padding: 1em;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.pagination button.active {
  background-color: #0056b3;
}
