@import './base/base.less';

body {
    .flexcolumn();
    width: 99%;
    background-color: @bg;
    background-image: url(${backgroundImage});
    color: @yellow;

    #root {
        .flexcolumn();
        width: 85%;

        header {
            .flexcolumn();
            width: 95%;
    
            nav {
                .flexrow();
                justify-content: space-evenly;
                width: 100%;
            }
        }
        main {
            .flexcolumn();
            width: 95%;
    
            .projects {
                .flexrow();
                flex-wrap: wrap;
                
    
                .proj_box {
                    width: 200px;
                    height: 200px;
                    margin: .5em;
                }
            }
    
            #bg_changer {
                width: 400px;
                height: 400px;
            }
    
        }
        footer {
            .flexcolumn();
            width: 95%;        
        }
    }
}





@import './base/media.less';