@import 'spinner.css';
@import 'gitCss.css';
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: #ffff00;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  background-color: #1c1700;
  background: linear-gradient(49deg, #1c1700 20%, #787c21 50%, #1c1700 80%);
  color: #ffff00;
}
body #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
body #root header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body #root header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
body #root main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body #root main .challCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body #root main .challCard .challs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body #root main .challCard .challs .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
body #root main .projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body #root main .projects .proj_box {
  min-width: 200px;
  min-height: 200px;
  max-width: 400px;
  max-height: 400px;
  margin: 0.5em;
  border: 2px solid #000000;
  padding: 0.5em;
}
body #root main .projects .proj_box .updated_blue_red {
  color: #0000ff;
  -webkit-animation: blink 800ms step-end infinite;
  animation: blink 800ms step-end infinite;
}
@-webkit-keyframes blink {
  50% {
    color: #ff0000;
  }
}
@keyframes blink {
  50% {
    color: #ff0000;
  }
}
body #root main #bg_changer {
  width: 400px;
  height: 400px;
}
body #root footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
