@import './base/base.less';

body {
    .flexcolumn();
    background-color: @violet;
    color: @black;
    width: 95%;
    text-align: center;

    header {
        .flexcolumn();
        width: 95%;
        border: @black 3px groove;

        nav {
            .flexrow();
            width: 100%;
            justify-content: space-evenly;
        }
    }
    main {
        .flexcolumn();
        width: 95%;
        border: @black 3px groove;

        #bg_changer {
            width: 400px;
            height: 400px;
        }
        .homeTable {
            border: @green double 2px;

            tr, th, td {
                border: @green double 2px;
            }
        }
    }
    footer {
        .flexcolumn();
        width: 95%;
        border: @black 3px groove;
    }
}





@import './base/media.less';